# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

# Build results
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg

# Visual Studio cache / DB
*.log
*.dbmdl
*.sdf

# Others
*.tmp
*.cache
Thumbs.db
.DS_Store
